
<div class="sendingblue-form fixed w-full top-0 left-0 h-full bg-blue-dark">
    <div class="close toggle-newsletter absolute top-5 right-5 cursor-pointer"><img src="{{ theme.link }}/assets/images/close.svg" /> </div>
    <div class="flex items-center justify-center w-full h-full">
        <div class="w-11/12 sm:w-6/12 mx-auto">
            {{ function('do_shortcode', '[sibwp_form id=1]') }}
        </div>
    </div>
</div>