{% extends "main.twig" %}

{% block jumbotron %}
    <style>
        .champ {
            width: 50%
        }
        .champ:last-child {
            border:none
        }
        .champ:hover span { color: #08316E; }
        @media(min-width:980px) {
            .champ {
                width:20%;
                position: relative;
            }
            .champ:after {
                position: absolute;
                width: 1px;
                top: 0;
                right: 0;
                height: 100%;
                content: "";
                display: block;
                background-color: #08316E;
                background-image: url({{ theme.link }}/assets/images/dashed.png);
                background-repeat: no-repeat;
                background-position: center;
            }
            .champ:last-child:after{
                display: none;
            }
        }

    </style>
    {% set bgimage = function('get_the_post_thumbnail_url', post.ID, 'full', attribute('class', 'w-full object-full')) %}
    {% set title = post.post_title %}

    {% include 'blocks/header-single.twig' %}
    <div class="w-full ml-auto flex flex-wrap">
        <div class="w-1/12"></div>
        <div class="bg-blue flex flex-wrap justify-between flex-grow">
           {% for data in champs.parametres %}
               <div class="group hover:bg-yellow champ block py-3 px-3 text-sm text-white text-center flex items-center justify-center">
                   <span>{{ data.champ|replace({'\r\n':'<br/>'}) }}</span>
               </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="bg-white">
        <div class="flex flex-wrap">
            <div {% if current_language == "ar" %} dir="rtl" {% endif%} class="{% if current_language == "ar" %} frutiger {% endif%} max-w-3xl post-content mx-auto bg-white lg:w-7/12 p-5 lg:p-20">
                <h1 class="headline text-4xl font-normal">{{post.title}}</h1>
                {{ post.content }}
            </div>
        </div>
        {% set back_label = "Back to our activities, news and events" %}
        {% set back_link = "/activities" %}
        {% include 'helpers/back-category.twig' %}
    </div>
{% endblock %}