<a href="{{ btn_url }}" class="btn group {{ btn_classes }} fill-template relative">
    <span class="btn-mask absolute top-0 left-0 z-10 bg-white w-0 h-full"></span>
    <span class="z-50 relative">{{ btn_text }}</span>
</a>