<a href="{{ btn_url }}" target="{{ btn_target }}" class="btn btn-outline uppercase relative {{ btn_classes }}">
    <span class="btn-mask absolute top-0 left-0 z-10 bg-white w-0 h-full"></span>
    <span class="z-50 relative transition delay-75 ease-in-out">{{ btn_text }}</span>
</a>