<a href="{{ btn_url }}" target="{{ btn_target }}" class="btn btn-outline inline-block mt-4 py-5 px-10 xl:py-8 lg:px-10 uppercase text-xs relative">
    <span class="btn-mask absolute top-0 left-0 z-10 bg-white w-0 h-full"></span>
    <span class="z-50 relative">{{ btn_text }}</span>
</a>

